@{
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">
            <h2>Access is denied.</h2>
        </div>
    </div>
</div>

