@model IEnumerable<Authentication.Local.Models.Meetup>
@{
    ViewData["Title"] = "Meetups";
}

<div class="row">
    <div class="col-md-12">
        <h2>Meetups</h2>
        <ul class="list-group">
            @foreach (var meetup in Model)
            {
                <li class="list-group-item">
                    <a asp-action="Meetup" asp-controller="Meetup" asp-route-id="@meetup.Id" >@meetup.Name</a>
                </li>
            }
        </ul>
    </div>
</div>

